:root {
    --text-input-field: #f7f7f7;
    --orange: rgb(255, 171, 118);
    --sm: 14px;
    --md: 16px;
    --lg: 18px;
    --slg: 25px;
    --xlg: 50px;
    --xxlg: 65px;
}

body {
    font-family:  'Be Vietnam Pro', sans-serif;
    height: 100vh;
    margin: 0;
    background-image: url("https://wallpaperaccess.com/full/3676274.jpg");
    background-position: center;
    /* background-repeat: no-repeat; */
    background-size: cover;
    position: relative;
    z-index: 0;

  
}

a, a:visited, p, p:visited {
    text-decoration:none;
}

.header-figure-page {
    display: grid;
    grid-template-columns: 1fr auto;
    justify-items: flex-start;
    background-color: papayawhip;
    padding: 1%;
}

.header-figure-page-left {
    display: flex;
    align-items: center;
    justify-items: center;
    width: 100%;
}
.header-figure-page-left img {
    width: 48px;
    height: 48px;
}
.header-figure-page-right {
    display: flex;
    align-items: center;
    
    
}
.header-figure-page-right img {
    width: 32px;
    height: 32px;
    transform: rotate(90deg);
}

.menu-navbar {
    display: none;
    margin: 0 4%; 
    cursor: pointer;
}







.card-container {
    display: grid;
    grid-template-columns: 1fr;
}

nav {
    display: flex;
    float: left;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 10%;
    background-color: rgba( 255, 255, 255, 0.5 );
    

}
nav ul {
    list-style-type: none;
    padding: 0;
    margin: 10%

}

nav ul li {
    text-align: center;
    padding: 20px 0px;
}


nav ul li img {
    height: 50px;
    width:50px;
    cursor: pointer;
  
}

.menu-mobile {
    display: none;
    float:left;
    background-color: papayawhip;
    z-index: 1;
    height: 120%;
    align-items: center;
    padding: 0 10%;
    position: absolute;
}

.card-content {
    display: flex;
    justify-content: space-around;
    margin: 5%;
    background: rgba( 255, 255, 255, 0.6 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    padding: 5%;
    gap: 5%;
}

.form-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 400px;
}

.form-container label {
    margin: 12px 0 4px 0;
   
}

.form-container input {
    background-color: var(--text-input-field);
    border: none;
    border-radius: 8px;
    height: 24px;
    font-size: var(--md);
    padding: 8px;
    margin-bottom: 12px;

}


.result-container {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    border:1px solid rgba( 255, 255, 255 );
    margin-top: 20px;
    padding:  0 5%;
    
}
.result-container h1 {
    text-align: center;
}

.result-container p {
    font-size: var(--lg);
    font-weight: 500;
    

}
.triangle {
    display: none; /*este display se usan para ocultar y mostrar los divs que corresponden a cada figura*/
}

.circle {
    display: none; /*este display se usan para ocultar y mostrar los divs que corresponden a cada figura*/
}

.square {
    display: flex; /*este display se usan para ocultar y mostrar los divs que corresponden a cada figura*/
}


.primary-button {
    background-color: #F47340;
    border-radius: 8px;
    border: none;
    color: papayawhip;
    width: 100%;
    cursor: pointer;
    font-size: var(--lg);
    font-weight: bold;
    height: 48px;
    margin-top: 12px;

}

@media (max-width: 800px) {
    .menu-mobile {
        display: none;
    }

    .menu-mobile ul {
        list-style-type: none;
        padding: 0;
    }

    .menu-mobile img {
        width: 100px;
        height: 100px;
        cursor: pointer;
    }

    nav {
        display: none;
    }
    .card-container {
        grid-template-columns: 1fr;
    }

    .card-content {
        flex-direction: column;
        align-items: center;
    }
    
    .result-container {
        height: 250px;
        width: 60%;
    }

  

    .header-figure-page h1 {
        font-size: 1.6em;
    }

    .header-figure-page-left  img {
        display:  none;
        width: 28px;
        height: 28px;
    }


    .header-figure-page-left .menu-navbar {
        display: block;
       
    }    
}

@media (max-width: 650px) {

    .menu-mobile {
        display: none;
    }

    .result-container {
        width: 80%;
    }
}